<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>MY APP</title>
    </head>
	
<body>
    May Node and Express be with you.

    <ul class="users">
		<% for(var i=0; i<users.length; i++) {%>
		<table border="1">
			<tr class="quote">
				<td><%= users[i].name %></td>
				<td><%= users[i].gender %></td>
			</tr>
		</table>
		<% } %>
    </ul>

    <form action="/users" method="POST">
		<input type="text" placeholder="name" name="name">
        <input type="text" placeholder="users" name="users">
        <button type="submit">Submit</button>
    </form>
	  
	
</body>
</html>